.movies-card {
  font-family: 'inter', Arial, Helvetica, sans-serif;
  position: relative;
}

.movies-card__link {
  display: block;
  width: 360px;
  height: 201px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.movies-card__image {
  display: block;
  object-fit: cover;
  width: 360px;
  height: 201px;
}

.movies-card__button {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 100;
  border-radius: 30px;
  height: 21px;
  width: 72px;
  border: none;
  background-color: #F9F9F9;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.movies-card__button_type_selected {
  border-radius: 30px;
  height: 21px;
  width: 21px;
  border: none;
  background-image: url(../../images/save.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
}

.movies-card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 14px 0;
}

.movies-card__title {
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  max-width: 80%;
}

.movies-card__duration {
  margin: 0;
  padding: 3px 12px;
  border-radius: 3px;
  background-color: #F9F9F9;
  color: #A0A0A0;
  font-size: 11px;
  line-height: 10px;
  font-weight: 400;
}

.movies-card__button_type_saved {
  border-radius: 30px;
  height: 21px;
  width: 21px;
  border: none;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/d3.svg);
  font-size: 0;
}

@media screen and (max-width: 1023px) {
  .movies-card__link {
    width: 339px;
    height: 190px;
  }

  .movies-card__info {
    padding: 25px 0 0;
  }

  .movies-card__duration {
    padding: 3px 12px;
  }
}

@media screen and (max-width: 767px) {

  .movies-card__link {
    width: 300px;
    height: 168px;
  }

  .movies-card__info {
    padding: 16px 0 0;
  }

  .movies-card__title {
    font-size: 12px;
    line-height: 15px;
  }

}
