.form {
  max-width: 396px;
  width: 100vw;
  background-color: #fff;
  margin: auto;
  padding: 40px 0 0;
  border-radius: 10px;
  font-size: 0;
  position: relative;
  box-sizing: border-box;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  width: 100%;
  padding: 0;
  text-align: left;
  margin-bottom: 40px;
}


.form__button {
  min-height: 50px;
  border: none;
  border-radius: 3px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity .2s linear;
  padding: 0;
  background-color: #2BE080;
  color: #fff;
  width: 100%;
  padding: 0;
}

@media screen and (max-width: 1023px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    max-width: 260px;
    padding-top: 50px;
  }

  .form__title {
    text-align: center;
    margin-bottom: 80px;
  }

  .form__button {
    font-size: 12px;
    line-height: 15px;
  }
}