.not-found-page {
  font-family: 'inter', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  max-height: 100vh;
  flex: 1 1 auto;
  padding: 246px 0 60px;
  box-sizing: border-box;
}

.not-found-page__info {
  flex: 1 1 auto;
  max-height: 200px;
}

.not-found-page__title {
  font-size: 140px;
  line-height: 170px;
  font-weight: 400;
  margin: 0;
}

.not-found-page__subtitle {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 5px auto 0;
  text-align: center;
}

.not-found-page__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #2BE080;
}

@media screen and (max-width: 1023px) {
  .not-found-page {
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 767px) {

  .not-found-page {
    padding: 329px 0 30px;
  }

  .not-found-page__title {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found-page__subtitle {
    font-size: 12px;
    line-height: 15px;
  }

  .not-found-page__link {
    font-size: 12px;
    line-height: 15px;
  }

}
