.login {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  padding: 70px 0 70px;
}

@media screen and (max-width: 1023px) {
  .login {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
  }

}