.search-form {
  box-sizing: border-box;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  padding: 70px 0 47px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
}

.search-form__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 13px;
  box-sizing: border-box;
}

.search-form__input {
  flex-grow: 1;
  flex-shrink: 1;
  border: none;
  font-size: 28px;
  line-height: 34px;
}

.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  color: #A0A0A0;
}

.search-form__button {
  border-radius: 50%;
  border: none;
  width: 34px;
  height: 34px;
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  background-size: 34px 34px;
  background-position: center;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

.search-form__label {
  display: block;
  width: 36px;
  height: 20px;
  padding: 6px;
  background-color: #EBEBEB;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

.search-form__label::after {
  content: "Короткометражки";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
}

.search-form__label_active {
  background-color: #2BE080;
}

.search-form__checkbox {
  visibility: hidden;
  position: absolute;
}

.search-form__checkbox:checked + .search-form__custom-checkbox {
  transform: translateX(200%);
}

.search-form__custom-checkbox {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateX(0);
  margin: 0;
  transition: all linear .3s;
}