.section-title {
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 27px;
  font-weight: 400;
  color: #000;
  padding-bottom: 23px;
  border-bottom: 1px solid #000;
  letter-spacing: -4%;
}