.header {
  width: 100%;
  max-width: 1280px;
  min-height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  background-color: #5C5C5C;
  padding: 0px 70px;
}

.logo {
  width: 38px;
  height: 38px;
  color: #fff;
}

.header_theme_white {
  background-color: #fff;
}

.header__link {
  text-decoration: none;
  color: #fff;
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.header__info_invisible {
  display: none;
}

.header__button {
  text-decoration: none;
  padding: 8px 20px;
  color: #000;
  background-color: #2BE080;
  width: 76px;
  height: 32px;
  border-radius: 3px;
  border: none;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.header__menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.header__menu-item {
  font-weight: 400;
}

.header__menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: inherit;
  color: #000;
  padding: 8px 0;
}

.header__menu-link_theme_white {
  color: #fff;
}

.header__menu-link_active {
  font-weight: 500;
}

.header__profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  text-decoration: none;
}

.header__profile-image {
  height: 14px;
  width: 12px;
  padding: 8px 7px;
  border-radius: 4px;
  background-color: #F9F9F9;
}

.header__profile-text {
  margin: 0;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header__profile-text_theme_white {
  color: #fff;
}

.header__menu-button {
  display: none;
  width: 44px;
  height: 44px;
  visibility: hidden;
  border: none;
  background-image: url(../../images/burder.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  padding: 0;
}

.header__menu-button_theme_black {
  background-color: #5C5C5C;
}



@media screen and (max-width: 1023px) {
  
  .header {
    padding: 0 30px;
    font-size: 10px;
  }

  .header__info_theme_white {
    display: none;
  }

  .header__info_theme_black {
    display: none;
  }

  .header__menu-button {
    visibility: visible;
    display: block;
  }

  .header__menu-button_inactive {
    display: none;
  }

}

@media screen and (max-width: 767px) {
  
  .header {
    padding: 0 14px;
  }

  .header__button {
    padding: 5px 12px;
    width: 54px;
    height: 26px;
  }

  .header__info {
    gap: 14px;
  } 

}