.login {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  box-sizing: border-box;
  font-family: 'inter', Arial, Helvetica, sans-serif;
  padding: 70px 0 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}

.login__link {
  color: #2BE080;
  text-decoration: none;
  margin-left: 6px;
}

.login__text {
  color: #A0A0A0;
  max-width: 285px;
  margin: 16px auto 0;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}