.search-result {
  font-family: 'inter', Arial, Helvetica, sans-serif;
  width: 30%;
  align-self: center;
  text-align: center;
  color: #A0A0A0;
  font-size: 20px;
  visibility: hidden;
}

.search-result_active {
  visibility: visible;
}