@import url(../src/vendor/normalize.css);
@import url(../src/vendor/fonts/fonts.css);

/* Page */

@import url(../src/components/App/App.css);

/* header */

@import url(../src/components/Header/Header.css);

/* footer */

@import url(../src/components/Footer/Footer.css);

/* promo */

@import url(../src/components/Promo/Promo.css);

/* NavTab */

@import url(../src/components/NavTab/NavTab.css);

/* about */

@import url(../src/components/AboutProject/AboutProject.css);

/* technologies */

@import url(../src/components/Techs/Techs.css);

/* portfolio */

@import url(../src/components/Portfolio/Portfolio.css);

/* search-form */

@import url(../src/components/SearchForm/SearchForm.css);

/* Preloader */ 

@import url(../src/components/Preloader/Preloader.css);

/* Movies */

@import url(../src/components/Movies/Movies.css);

/* MoviesCardList */

@import url(../src/components/MoviesCardList/MoviesCardList.css);

/* MoviesCard */

@import url(../src/components/MoviesCard/MoviesCard.css);

/* MoviesButton */ 

@import url(../src/components/MoviesButton/MoviesButton.css);

/* SavedMovies */

@import url(../src/components/SavedMovies/SavedMovies.css);

/* Profile */

@import url(../src/components/Profile/Profile.css);

/* ProfileForm */

@import url(../src/components/ProfileForm/ProfileForm.css);

/* Page404 */

@import url(../src/components/Page404/Page404.css);

/* AboutMe */

@import url(../src/components/AboutMe/AboutMe.css);

/* MobileMenu */

@import url(../src/components/MobileMenu/MobileMenu.css);

/* FormContainer */

@import url(../src/components/FormContainer/FormContainer.css);

/* Form */

@import url(../src/components/Form/Form.css);

/* FormInput */

@import url(../src/components/FormInput/FormInput.css);

/* SearchResult */

@import url(../src/components/SearchResult/SearchResult.css);
