.header__button {
  padding: 8px 20px;
  color: #000;
  background-color: #2BE080;
  max-width: 76px;
  min-height: 32px;
  border-radius: 3px;
  border: none;
  text-align: center;
}

.header__button:hover {
  opacity: .6;
}

@media screen and (max-width: 460px) {
  .header__button {
    display: none;
  }

}