.developer {
  font-family: 'inter', Arial, Helvetica, sans-serif;
  padding: 110px 70px 0;
  background-color: #fff;
}

.developer__container {
  margin-top: 66px;
  display: flex;
  justify-content: space-between;
}

.developer__description {
  max-width: 600px;
}

.developer__image {
  width: 270px;
  height: 327px;
}

.developer__links {
  display: flex;
  justify-content: space-between;
  max-width: 132px;
  margin-top: 99px;
}

.developer__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.developer__subtitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 26px;
}

.developer__text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.developer__title {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  letter-spacing: -4%;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .developer {
    padding: 90px 50px 0;
  }

  .developer__title {
    font-size: 40px;
    line-height: 40px;
  }

  .developer__subtitle {
    margin-top: 16px;
    margin-bottom: 20px;
  }

  .developer__text {
    font-size: 12px;
    line-height: 18px;
  }

  .developer__description {
    max-width: 364px;
  }

  .developer__links {
    margin-top: 87px;
  }

  .developer__image {
    width: 255px;
    height: 307px;
  }
}

@media screen and (max-width: 767px) {

  .developer {
    padding: 70px 14px;
  }

  .developer__container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .developer__image {
    width: 292px;
    height: 352px;
  }

  .developer__title {
    font-size: 30px;
    line-height: 36px;
  }

  .developer__subtitle {
    margin-top: 20px;
  }

  .developer__subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .developer__text {
    font-size: 11px;
    line-height: 16px;
  }

  .developer__links {
    margin-top: 40px;
  }

}